<div class="side-bar">
  <div class="wrapper">
   <p>タイトル</p>
   <p>システム</p>
    <ul class="member">
   <p>コメント</p>
       メンバー
      <li>Aさん</li> 
      <li>Bさん</li> 
      <li>Cさん</li> 
    </ul>
  </div>
</div>