<%= render "shared/header" %>

<div class="wrapper">
  <%= render "shared/side_bar" %>
  <div class="main">
    <div class="main-body">
      <% if logged_in? %>
        <p>ログイン中</p>
        <%= "ようこそ#{@current_user.name}さん!" %>
        <p>カレンダーが表示される予定。</p>
      <% else %>
        ログアウト中
        <p>卓の輪はセッション参加可能なスケジュールを共有してマッチングさせるツールです。</p>
        <p>ログインしてスケジュールだけ入れておけば日程の合う人が可視化されます。</p>
        <p>卓で遊びたいと思った時には、卓の輪で気軽に誘ってみましょう。</p>
      <% end %>
    </div>
  </div>
</div>
<div class="footer">
  <%= render "shared/footer" %>
</div>