<%= render "shared/header" %>

<div class="wrapper">
  <%= render "shared/side_bar" %>
  <div class="main">
    <div class="main-body">
        メイン
    </div>
  </div>
</div>
<div class="footer">
  <%= render "shared/footer" %>
</div>